<dialog>
    <p>Edit question</p>
    <form method="dialog" id="edit-question">
        <input type="text" name="question" id="question" value="" required>
        <input type="text" name="answer" id="answer" value="" required>
        <input type="number" name="time" id="time" value="" required>
        <p>
            <button type="button" id="close">Close</button>
            <button type="button" id="saveEditedQuestion">Save</button>
        </p>
    </form>
</dialog>