<footer>
    <p id="copyright"> 
        Copyright © 2025 Håkon D. Håheim 
        <pre> 
            <img src="/images/github.png" style="width: 20px; height: 20px;" alt="github"> <img src="/images/linkedin.png" style="width: 20px; height: 20px;" alt="linkedin">
        </pre>
    </p>   
</footer>