<footer>
    <p id="copyright">Copyright © 2025 Håkon D. Håheim <img src="/images/github_logo.png" style="width: 20px; height: 20px;" alt="github"> <img src="/images/linkedin_logo.png" style="width: 20px; height: 20px;" alt="linkedin"></p>   
</footer>