<dialog>
    <p>Add a question</p>
    <form method="dialog" id="add-question">
        <input type="text" name="question" id="question" placeholder="Question">
        <input type="text" name="answer" id="answer" placeholder="Answer">
        <input type="number" name="time" id="time" placeholder="0 minutes">
        <p>
            <button type="button" id="close">Close</button>
            <button type="button" id="saveNewQuestion">Add</button>
        </p>
    </form>
</dialog>