<dialog id="add-question">
    <p id="modalHeader">Add a question</p>
    <div id="modalText">
        <p>
        All entries needs a question and an answer.<br />
        <br />
        Time indicates the amount of time to answer the question before progressing to the next one.
    </p>
    </div>
    <form method="dialog" id="add-question-form">
        <input type="text" name="question" id="question" placeholder="Question">
        <input type="text" name="answer" id="answer" placeholder="Answer">
        <input type="number" name="time" id="time" placeholder="0 minutes">
        <p>
            <button type="button" id="close">Close</button>
            <button type="button" id="saveNewQuestion">Add</button>
        </p>
    </form>
</dialog>