<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>QuizMaster</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <p></p>
    <div class="centerBox">
        <h1>QuizMaster</h1>
        <p id="spacing"></p>
        <a href="/quiz">
            <button id="start">Let's Make a Quiz!</button>
        </a>
    </div>
<%- include('partials/footer.ejs') %>
</body>
</html>