<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>QuizMaster</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <p></p>
    <div class="centerBox">
        <img src="/images/quizmaster_logo_2.png" alt="QuizMaster Logo" id="logo" style="width: 400px; height: auto;">
        <p id="spacing"></p>
        <a href="/quiz">
            <button class="gameButton">Let's Make a Quiz!</button>
        </a>
    </div>
<%- include('partials/footer.ejs') %>
</body>
</html>