<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Play Quiz</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <p id="spacing"></p>
    <h2><%= quiz.name %></h2>
    <div id="quizContainer" class="centerBox">
        <!-- Play session code renders here -->
    </div>
    <p></p>
    <script>
        const quizId = <%= quiz.id %>;
    </script>
    <script type="module" src="/javascripts/playQuiz.js"></script>
    <%- include('partials/footer.ejs') %>
</body>
</html>