<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>QuizMaker</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/modal') %>
    <p></p>
    <h2>QuizMaker</h2>
    <p></p>
    <div id="quizNameContainer">
        <% if (typeof quiz !== 'undefined' && quiz) {%>
            <h3><%= quiz.name %></h3>
        <%} else {%>
            <div id="name">
                <input type="text" name="quizName" id="quizName" placeholder="Name your quiz">
            </div>
            <p>
                <button id="newQuiz">Make Quiz</button>
            </p>
            <div id="questionContainer">
            </div>
        <%}%>
    </div>
   
    <script type="module" src="/javascripts/quizMaker.js"></script>
    <%- include('partials/footer.ejs') %>
</body>
</html>