<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>QuizMaker</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/modal') %>
    <p></p>
    <h2>QuizMaker</h2>
    <p></p>
    <div id="name">
        <input type="text" name="quizName" id="quizName" placeholder="Name your quiz">
    </div>
    <p>
        <button id="newQuestion">Add question</button>
    </p>
    <p>
    <div id="tableContainer">
        <table id="questionTable">
            <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </p>
    <p></p>
    <a>
        <button id="createQuiz">Create quiz</button>
    </a>
    <script type="module" src="/javascripts/quizMaker.js"></script>
    <%- include('partials/footer.ejs') %>
</body>
</html>