body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111111;
  color: #FFFFFF;
  text-align: center;
}

table {
    margin: auto;
    text-align: center;
}

h1 {
  font-size: 50px;
}

#spacing {
  padding-top: 50px;
}

a {
  color: #00B7FF;
}

#start, #playQuiz {
  background-color: green;
  color: #FFFFFF;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  transition: 0.3s;
}

#start:hover, #playQuiz:hover {
  background-color: rgb(233, 236, 13);
  color: #000000;
}

.centerBox {
  margin: auto;
  width: 50%;
  padding: 100px;
  text-align: center;
}

.navLink {
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  transition: 0.3s;
  font-size: 18px;
}

.navLink:hover {
  color: green;
}

footer {
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: left;
}

#copyright {
  float: left;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 15px;
}

#regLink {
  color: #FFFFFF;
  transition: 0.3s;
}

#regLink:hover {
  color: green;
}